/* style.css */

.button {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50;
  }
  #map {
    height: 300px;
    width: 400px;
    margin: 0;
    padding: 0;
  }
